@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,800';

body {
  background: #fafafa;
}

.reveal {
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: inherit;
}

.reveal h1 {
  color: #303030;
  font-weight: 500;
  text-transform: uppercase;
}

.reveal pre {
  width: 100%;
  box-shadow: none;
}

.hljs {
  background: transparent !important;
}

.primary {
  color: #3F709C !important;
}

.reveal .progress {
    background-color: #fafafa;
}

.reveal .progress span {
    background-color: rgba(255, 0, 0, 0.7);
}

.reveal table th, .reveal table td {
  border-bottom: 0;
}

.reveal section img {
  background: transparent;
  border: 0;
  box-shadow: none;
}

.reveal a, .reveal a:hover {
  color: #3F709C !important;
  border-bottom: 3px solid #aaa;
}

.browser-support td {
  width: 25%;
  text-align: center !important;
}